<?xml version="1.0"?>
<config>
    <modules>
        <Quiz_Module>
            <version>0.1.0</version>
        </Quiz_Module>
    </modules>
    <frontend>
        <routers>
            <module>
                <use>standard</use>
                <args>
                    <module>Quiz_Module</module>
                    <frontName>module</frontName>
                </args>
            </module>
        </routers>
        <layout>
            <updates>
                <module>
                    <file>module.xml</file>
                </module>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<module>
				<use>admin</use>
				<args>
					<module>Quiz_Module</module>
					<frontName>module</frontName>
				</args>
			</module>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<module module="module">
				<title>Quiz</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="module">
						<title>Manage Quiz Videos</title>
						<sort_order>0</sort_order>
						<action>module/adminhtml_module</action>
					</items>
				</children>		
				<children>
					<quetions module="quetions">
						<title>Manage Quiz Quetions</title>
						<sort_order>2</sort_order>
						<action>quetions/adminhtml_quetions</action>
					</quetions>
				</children>
				<children>
					<results module="result">
						<title>Manage Quiz Result</title>
						<sort_order>3</sort_order>
						<action>result/adminhtml_result</action>
					</results>
			</children>
			</module>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Quiz_Module>
							<title>Module Module</title>
							<sort_order>10</sort_order>
						</Quiz_Module>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<module>
					<file>module.xml</file>
				</module>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <module>
                <class>Quiz_Module_Model</class>
                <resourceModel>module_mysql4</resourceModel>
            </module>
            <module_mysql4>
                <class>Quiz_Module_Model_Mysql4</class>
                <entities>
                    <module>
                        <table>module</table>
                    </module>
                </entities>
            </module_mysql4>
        </models>
        <resources>
            <module_setup>
                <setup>
                    <module>Quiz_Module</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </module_setup>
            <module_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </module_write>
            <module_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </module_read>
        </resources>
        <blocks>
            <module>
                <class>Quiz_Module_Block</class>
            </module>
        </blocks>
        <helpers>
            <module>
                <class>Quiz_Module_Helper</class>
            </module>
        </helpers>
    </global>
</config>