<?xml version="1.0"?>
<config>
  <modules>
    <Paymentsense_Paymentsensegateway>
      <version>0.1.0</version>
    </Paymentsense_Paymentsensegateway>
  </modules>
  
  <global>
    <models>
      <paymentsensegateway>
        <class>Paymentsense_Paymentsensegateway_Model</class>
      </paymentsensegateway>
    </models>
    <resources>
      <paymentsensegateway_setup>
        <setup>
          <module>Paymentsense_Paymentsensegateway</module>
		  <class>Paymentsense_Paymentsensegateway_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </paymentsensegateway_setup>
      <paymentsensegateway_write>
        <connection>
          <use>core_write</use>
        </connection>
      </paymentsensegateway_write>
      <paymentsensegateway_read>
        <connection>
          <use>core_read</use>
        </connection>
      </paymentsensegateway_read>
    </resources>
    <blocks>
      <paymentsensegateway>
        <class>Paymentsense_Paymentsensegateway_Block</class>
      </paymentsensegateway>
      <payment>
        <rewrite>
          <info_cc>Paymentsense_Paymentsensegateway_Block_Payment_Info_Cc</info_cc>
        </rewrite>
      </payment>
      <adminhtml>
        <rewrite>
          <sales_order_payment>Paymentsense_Paymentsensegateway_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
        </rewrite>
      </adminhtml>
    </blocks>
    <!-- Define the helper class type -->
    <helpers>
      <Paymentsensegateway>
        <class>Paymentsense_Paymentsensegateway_Helper</class>
      </Paymentsensegateway>
      <paymentsensegateway>
        <rewrite>
          <data>Paymentsense_Paymentsensegateway_Helper_Data</data>
        </rewrite>
      </paymentsensegateway>
    </helpers>
  </global>

  <adminhtml>
    <layout>
      <updates>
        <tpg>
          <file>paymentsensegateway.xml</file>
        </tpg>
      </updates>
    </layout>
  </adminhtml>
  <frontend>
    <secure_url>
      <paymentsensegateway>/paymentsensegateway/standard</paymentsensegateway>
    </secure_url>
    <routers>
      <paymentsensegateway>
        <use>standard</use>
        <args>
          <module>Paymentsense_Paymentsensegateway</module>
          <frontName>paymentsensegateway</frontName>
        </args>
      </paymentsensegateway>
    </routers>
    <translate>
      <modules>
        <Paymentsense_Paymentsensegateway>
          <files>
            <default>Paymentsense_Paymentsensegateway.csv</default>
          </files>
        </Paymentsense_Paymentsensegateway>
      </modules>
    </translate>
  </frontend>
  
  <!-- declare default configuration values for this module -->
  <default>
    <payment>
      <paymentsensegateway>
        <active>1</active>
        <model>paymentsensegateway/direct</model>
        <title>PaymentSense</title>
        <hashmethod>sha1</hashmethod>
        <paymentprocessordomain>paymentsensegateway.com</paymentprocessordomain>
        <paymentprocessorport>4430</paymentprocessorport>
        <hostedpaymentactionurl>https://mms.paymentsensegateway.com/Pages/PublicPages/PaymentForm.aspx</hostedpaymentactionurl>
        <transparentredirectactionurl>https://mms.paymentsensegateway.com/Pages/PublicPages/TransparentRedirect.aspx</transparentredirectactionurl>
        <serverpullresultactionurl>https://mms.paymentsensegateway.com/Pages/PublicPages/PaymentFormResultHandler.ashx</serverpullresultactionurl>
        <payment_action>capture</payment_action>
        <mode>direct</mode>
        <cv2mandatory>1</cv2mandatory>
        <address1mandatory>1</address1mandatory>
        <citymandatory>1</citymandatory>
        <statemandatory>1</statemandatory>
        <postcodemandatory>1</postcodemandatory>
        <countrymandatory>1</countrymandatory>
        <resultdeliverymethod>POST</resultdeliverymethod>
        <allowspecific>0</allowspecific>
		<customstockmanagementenabled>1</customstockmanagementenabled>
      </paymentsensegateway>
    </payment>
  </default>
</config>