<?xml version="1.0"?>
<config>
    <modules>
        <Quizvideo_Quetions>
            <version>0.1.0</version>
        </Quizvideo_Quetions>
    </modules>
    <frontend>
        <routers>
            <quetions>
                <use>standard</use>
                <args>
                    <module>Quizvideo_Quetions</module>
                    <frontName>quetions</frontName>
                </args>
            </quetions>
        </routers>
        <layout>
            <updates>
                <quetions>
                    <file>quetions.xml</file>
                </quetions>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<quetions>
				<use>admin</use>
				<args>
					<module>Quizvideo_Quetions</module>
					<frontName>quetions</frontName>
				</args>
			</quetions>
        </routers>
    </admin>
    <adminhtml>
		<!--<menu>
			<quetions module="quetions">
				<title>Quiz Quetions</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="quetions">
						<title>Manage Quiz Quetions</title>
						<sort_order>0</sort_order>
						<action>quetions/adminhtml_quetions</action>
					</items>
				</children>
			</quetions>
		</menu>-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Quizvideo_Quetions>
							<title>Quetions Module</title>
							<sort_order>10</sort_order>
						</Quizvideo_Quetions>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<quetions>
					<file>quetions.xml</file>
				</quetions>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <quetions>
                <class>Quizvideo_Quetions_Model</class>
                <resourceModel>quetions_mysql4</resourceModel>
            </quetions>
            <quetions_mysql4>
                <class>Quizvideo_Quetions_Model_Mysql4</class>
                <entities>
                    <quetions>
                        <table>quetions</table>
                    </quetions>
                </entities>
            </quetions_mysql4>
        </models>
        <resources>
            <quetions_setup>
                <setup>
                    <module>Quizvideo_Quetions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quetions_setup>
            <quetions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quetions_write>
            <quetions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quetions_read>
        </resources>
        <blocks>
            <quetions>
                <class>Quizvideo_Quetions_Block</class>
            </quetions>
        </blocks>
        <helpers>
            <quetions>
                <class>Quizvideo_Quetions_Helper</class>
            </quetions>
        </helpers>
    </global>
</config>